# Banco de Dados
DATABASE_URI=sqlite:///wireguard.db

# Configurações do MikroTik
MIKROTIK_HOST=192.168.1.99
MIKROTIK_USER=your_mikrotik_username
MIKROTIK_PASS=your_mikrotik_password

# Autenticação JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRES=2629800  # tempo em segundos (exemplo: 1 mês)
ADMIN_PASSWORD=your_secure_admin_password